<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/scripts")

</head>
<body ng-controller="BookCtrl">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Book Store</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@{ Html.RenderAction("Widget", "Cart"); }</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>


    @RenderSection("AdditionalScripts", false)
</body>
</html>
