<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/knockout-2.3.0.js")
    @Scripts.Render("~/Scripts/knockout.mapping-latest.js")
    @Scripts.Render("~/Scripts/jquery-1.9.1.js")
</head>
<body>
    <div class="container">
        <div style="float: left; vertical-align: top">
            <a href="@Url.Action("Index", "Home")"><h3 class="text-muted">Book store</h3></a>            
        </div>
        <div style="float: right">
            @{
                Html.RenderAction("Widget", "Cart");
            }
        </div>

        <div style="clear: both">
            @RenderBody()
        </div>
    </div>

    @RenderSection("AdditionalScripts", false)
</body>
</html>
